.createEventContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.createEventLayerOne {
  text-align: center;
  margin-top: 5vh;
}

.createEventLayerThree {
  margin-bottom: 5vh;
}
