.eventsPageTitle {
  margin: 6vh 0;
}

.adminButtonHeader {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin-top: 4vh;
  margin-left: 50%;
}

.userButtonHeader {
  display: flex;
  justify-content: flex-end;
  width: 30%;
  margin-top: 4vh;
  margin-left: 50%;
}

.gridContainer {
  display: grid;
  gap: 2vw;
  padding: 0;
  margin: 0 auto;
}

.gridContainer li {
  list-style: none;
}

@media (max-width: 999px) {
  .gridContainer {
    grid-template-columns: 100%;
    width: 60%;
  }
}

@media (min-width: 1000px) {
  .gridContainer {
    grid-template-columns: 50% 50%;
    width: 80%;
  }
}
