.signupContainer {
  display: grid;
  grid-template-columns: 35% 30% 35%;
  width: 100%;
  min-height: 60vh;
}

.signupLayerOne {
  grid-column: 2/3;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.signupLayerOne h3 {
  margin-top: 1vh;
  margin-bottom: 4vh;
}

.signupLayerTwo {
  grid-column: 2/3;
  width: 100%;
  height: fit-content;
}

.signupLayerTwo button {
  align-self: center;
  width: 50%;
  height: 6vh;
  margin-left: 40%;
  margin-top: 2.5vh;
}

.signupLayerThree {
}
