.signupPageContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.signupContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.signupLayerOne {
  grid-column: 2/3;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: 2vh;
}

.signupLayerTwo {
  grid-column: 2/3;
  width: 100%;
  height: fit-content;
}

.signupLayerTwo button {
  align-self: center;
  width: 50%;
  margin-left: 40%;
  margin-top: 3.5vh;
}

.signupLayerThree {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5vh;
}
