.updateEventContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.updateEventLayerOne {
  margin-top: 5vh;
}

.updateEventLayerThree {
  margin-bottom: 5vh;
}
