.viewEventContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
  margin: 7.5vh 15%;
}

.viewEventContainer h2 {
  text-align: center;
  margin-bottom: 7.5vh;
}

.viewLayerTwo {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.viewLayerTwo button {
  height: 4vh !important;
  font-size: 1rem !important;
}
