.viewEventContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
  margin: 7.5vh 15%;
}

.viewLayerOne {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.viewLayerTwo {
  font-size: 1.75rem !important;
}

.viewLayerTwo h1 {
  text-align: center;
  font-size: 2.5rem !important;
  margin-bottom: 7.5vh;
}

.viewLayerThree {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 3vh;
}

.viewLayerThree button {
  height: 4vh !important;
  font-size: 1rem !important;
}
