.welcomeContainer {
  display: flex;
  justify-content: center;
}

.welcomeSubcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.welcomeLayerOne,
.welcomeLayerTwo,
.welcomeLayerThree {
  grid-column: 2/3;
  width: 100%;
  display: flex;
  justify-content: center;
}

.welcomeLayerOne {
  margin-top: 5vh;
  margin-bottom: 4vh;
}

.welcomeLayerTwo {
  display: flex;
  gap: 1vw;
  margin-bottom: 4vh;
}

.welcomeLayerTwo button {
  width: 6vw;
}

.welcomeLayerThree {
  display: flex;
  align-items: center;
  margin-bottom: 30vh;
}

.welcomeLayerThree button {
  margin-left: 1vh;
}
