.welcomeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
}

.welcomeSubcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5vh;
  border: 1px solid black;
}

.welcomeLayerOne,
.welcomeLayerTwo,
.welcomeLayerThree {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.welcomeLayerOne {
  margin-bottom: 4vh;
}

.welcomeLayerTwo {
  display: flex;
  gap: 1vw;
  margin-bottom: 4vh;
}

.welcomeLayerTwo button {
  width: 6vw;
}

.welcomeLayerThree {
  display: flex;
  align-items: center;
}

.welcomeLayerThree button {
  margin-left: 1vh;
}
