.eventCardLink {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
}

.eventCardLink:hover .title {
  text-decoration: underline;
  color: rgb(50, 50, 50);
}

.eventCard {
  border: 1px solid black;
  border-radius: 5%;
  width: 100%;
  height: 100%;
  padding: 2.5vw;
  margin: 0;
}

.layerOne,
.layerTwo,
.layerThree,
.layerFour {
  width: 100%;
}

.layerOne {
  display: flex;
  justify-content: space-between;
}

.layerOne .host strong {
  color: blue;
}

.layerOne .category strong {
  color: green;
}

.layerTwo,
.layerThree,
.layerThree p,
.layerFour section {
  display: flex;
  justify-content: center;
}

.layerThree {
  flex-direction: column;
  align-items: center;
  margin: 5vh 0;
}

.layerThree p {
  width: 100%;
  margin: 0;
}

.layerThree .isFree {
  margin: 2vh 0;
}

.layerFour {
  display: flex;
  justify-content: space-around;
}

.layerFour section {
  flex-direction: column;
  align-items: center;
}

.layerFour .eventStartLabel,
.layerFour .eventEndLabel {
  margin: 0 0 0.25vh 0;
}
