@import "tailwindcss";

html,
body {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

#root {
  height: fit-content;
}

.title {
  font-family: Georgia, "Times New Roman", serif;
}

button {
  background-color: black;
  color: white;
  height: 6vh;
  font-size: 1.25rem;
}

button:hover {
  cursor: pointer;
}

/* .blackBanner {
  background-color: black;
  width: 100vw;
  height: 10vh;
  position: relative;
}

.thickBlackBanner {
  background-color: black;
  width: 100vw;
  height: 15vh;
  position: relative;
} */
