@import "tailwindcss";

html,
body {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

#root {
  height: fit-content;
}
